.admin-menu {
  width: 250px;
  background: #1d2327;
  position: sticky;
  top: 0;
  padding: 14px;
  color: #f8f8f8;

  strong {
    display: block;
    text-align: center;
    font-size: 22px;
  }
}